.main{
    width: 500px;
    height: 652px;
    top: 60px;
    left: 190px;
    background-repeat: 12px;
}
.cart_img{
    width: 758px;
    height: 426px;
    top: -28px;
    left: -129px;
}
.titel{
    top: 415px;
}
.gol{
    margin-top: 10px;
}