body{
    height: 100%;
    width: 100%;
    background-color: #1a1a1af5;
    margin: 0;
    padding: 0;
}
iframe {
    width: 100%;
    height: 65px; 
    border: none;
    display: block;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 9px; 
}

.buttons {
    width: 100%;
    max-width: 743px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.left_button, .center_button, .right_button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.center_button {
    justify-content: center;
}

.icon1, .icon2, .Previos_Page, .Continue {
    cursor: pointer;
}
.Previos_Page{
    width: 130px;
    height: 33px;
}
.icon1{
    width: 22px;
    height: 24px;
    top: 973px;
    left: 927px;
    border: none;
    background: none;
}
.icon1_img{
    width: 15px;
    height: 20.5px;
    top: 2px;
    left: 3px;
}
.icon2{
    width: 39px;
    height: 39px;
    top: 965px;
    left: 954px;
    border: none;
    background: none;
}
.icon2_img{
    width: 30.25px;
    height: 22px;
    top: 9px;
    left: 4px;
}
.gol_img {
    width: 613px;
    height: 935px;
    display: block;
    margin: 0 auto; /* towd bailgan */
}

.Continue{
    text-align: center;
    width: 130px;
    height: 33px;
    top: 3px;
    gap: 50px;
    background-color: #F6CA17;
    color: #000000;
    /* border-radius: 7px; */
    border: none;
    border-bottom: 4px solid #000000;
}
.Continue:hover{
    border-bottom: none;
}
.Continue:active{
    border-bottom: none;
    background-color: #000000;
}

