body {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    height: 800px; 
    border: none;
    display: block;
}
.footer {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
    flex-direction: column; 
    width: 80%;
    height: 164px;

 
}

.logo {
    width: 30%;
}

.logo img {
    height: 90px;
    margin-right: 10px;
}

.logo .tagline {
    font-size: 14px;
    color: #242222;
}

.songolt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.nav-links {
    display: flex;
    gap: 51px;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.nav-links a:hover {
    color: #ffcc00;
}

.social-links {
    border: 1;
    display: flex;
}

.social-links a {
    color: #333;
    width: 1px;
    height: 1px;
}

.social-links a:hover {
    color: #ffcc00;
}
