body {
    margin: 0;
    padding: 0;
}

.titel{
    margin-left: 201.5px;
    margin-right: 201.5px;
    margin-top: 100px;
    height: 229px;
}
.titel_tom{
    width: 1511px;
    height: 96px;
    margin-top: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
}
.shar_tseg{
    color: #F6CA17;
    font-size: 64px;
}

.titel_jijig{
    width: 748px;
    height: auto;
    margin-top: -48px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
}
.card{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 41px; 
    height: 779px;
}
.footer-wrapper {
    margin-top: -30px;;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 557px;
    height: 59px;
    font-size: 17px;
}
.footer_text{
    display: inline;
    width: 353px;
    height: 26px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -1%;
}
.footer_link{
    display: flex;
    width: 203px;
    height: 26px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -1%;
    color: #000000;
}